{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Meteore</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/personalPage/style1.css' %}">
  <link rel="icon" type="png" href="{% static 'images/personalPage/iconSmall.png' %}">
  
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/index"><img src="{% static 'images/personalPage/icon.png'%}" alt="icon" class="img-responsive" width="140" height="70"></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a><img id='userImg' src="" class="img-rounded" height="70"></a></li>
      <li><a><h3 id='userName'></h4></a></li>
    </ul>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-7 text-left"> 
      <div id='changeBtns'>
    <div class="btn-group btn-group-justified">
      <a href="#" class="btn btn-primary" onclick="showList('group')">Public Mission</a>
      <a href="#" class="btn btn-primary" onclick="showList('personal')">Personal Mission</a>
      <a href="#" class="btn btn-primary" onclick="showList('history')">History</a>
    </div>
    </div>
    <div id='missionTable'>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Mission</th>
          <th>Category</th>
          <th>Likes</th>
        </tr>
      </thead>
      <tbody id="listBody">
      </tbody>
    </table>
    </div>
    <div class="pager" style="margin-bottom:2px">
    <ul class="pager">
      <li><a href="#" onclick="prePage()">Previous</a></li>
      <li><a href="#" onclick="nextPage()">Next</a></li>
    </ul>
    </div>
    </div>
    <div class="col-sm-5 sidenav">
      <div style="bottom:50%">
      <img src="{% static 'images/personalPage/addNew.png' %}" data-toggle="modal" data-target="#empty_sheet" style="width:50%"></img>
      </div>
      <div style="top:40%;background-color:#ffff >
       <button type="button" class="btn btn btn-lg" data-toggle="modal" data-target="#starInfo">
      <img id="planetImg" width='300'>
       </button>
      </div>
    </div>
  </div>
</div>

<div id="starInfo" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">My Star Infomation</h4>
      </div>
      <div class="modal-body">
        <p>{{ user.profile.nickname }}</p>
        <h5>Star Name </h5>
      <h4 id="starName">hellow</h4>
    <h5>Number of Planet </h5>
      <h4 id="planetNum">123</h4>
    <h5>Star Mass </h5>
      <h4 id="starMass">1330tons</h4>
    <h5>Star Position </h5>
      <h4 id="starPosition">123,120</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 id="title">Title</h4>
              <button type="button" id="kind" class="btn btn-info btn-sm">Health</button>
              <button type="button" id="private" class="btn btn-info btn-sm">Public</button>
            </div>
            <div class="modal-body">
              <!--<p>Some text in the modal.</p>-->
              <div class="row">
                <div class="col-sm-6">
                  <label>Founder:</label><span id="founder">helen</span>
                </div>
                <div class="col-sm-6">
                  <div class="dropdown">
                    <button id="members" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">3 members
                      <span class="caret"></span>
                    </button>
                    <ul id="member_menu" class="dropdown-menu scrollable-menu">
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <label>Total members:</label><span id="total_members">100</span>
                </div>
                <div class="col-sm-6">
                  <label>Goal:</label><span id="goal_times"></span>
                </div>
              </div>
              <textarea class="intext" id="detail" disabled>exercise</textarea>
              <div class="progress">
                <div id="total_progress" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">

                </div>
              </div>
              <div>
                <label>Contribution:</label>
                <div class="progress">
                  <div id="contribution_progress" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">

                  </div>
                </div>
              </div>
              <label>Number of times:</label><span id="done_times"></span>
              <a id="add_a"><button type="button" id="add_times" class="btn btn-info btn-sm">+</button></a>
              <br>
              <a id="like_a"><img id="like" src="{% static '/images/likes.png' %}" alt="like" width="60" height="60"></a><!--Riensha btn-info拿掉-->
            </div>

            
            <div class="modal-footer">
              <a id="join_a"><img id="join_quit" src="{% static '/images/JoinBtn.png' %}" alt="like" width="100" height="100"></a>
            </div>

            
          </div>
        </div>
      </div>

  <!-- Modal -->
<form action="{% url 'posts:create' %}" method="POST">
{% csrf_token %}
  <div class="modal fade" id="empty_sheet" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
    
        <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <input type="text" class="form-control" id="form_title" name="form_title" placeholder="Give me a title">
      <div class="form-inline">
        <div class="form-group">
          <label>Category:</label>
          <select class="form-control" id="form_kind" name="form_kind">
            <option>Environment</option>
            <option>Health</option>
            <option>Society</option>
            <option>Human relationship</option>
            <option>Knowledge</option>
          </select>
        </div>
        <div onmouseleave="mouseleave()" class="form-group">
          <select class="form-control" id="form_private" name="form_private">
            <option id="public">Public</option>
            <option id="individual">Individual</option>
          </select>
        </div>
      </div>
        </div>
    
        <div class="modal-body">
      <div class="form-inline">
        <div class="form-group">
          <label>Total members:</label>
          <input type="number" min="2" class="form-control" id="form_totalmembers" placeholder="Enter a number" name="form_totalmembers">
        </div>
        <div class="form-group">
          <label>Goal:</label>
          <input type="number" min="1" class="form-control" id="form_goal" placeholder="Enter a number" name="form_goal">
        </div>
      </div>
      <textarea class="form-control" rows="5" id="form_detail" name="form_detail" style="margin-bottom:10px;margin-top:10px;" placeholder="Do something"></textarea>
        </div>
    
        <div class="modal-footer">
          <button type="submit" id="form_add" class="btn btn-info" >Add Mission</button>
        </div>
    
      </div>
      
    </div>
  </div>
</form>
</body>

<script>
var image = ["{% static 'images/likes.png' %}","{% static 'images/dislikes.png' %}","{% static 'images/JoinBtn.png' %}","{% static 'images/QuitBtn.png' %}"];
    var testList = new Array();
  var memberList = new Array();
  var usermissionList = new Array();
    var m = 0;
  var k = 0;
  var l = 0;
  var now_user_nickname = "{{user.profile.nickname}}";
    function mission(user,title,content,kind,private,totalmembers,member,like,goal,progress,id,isActive){
      this.founder = user;
      this.title = title;
      this.content = content;
      this.kind = kind;
      this.private = private;
      this.totalmembers = totalmembers;
    this.member = member;
    this.likes = like;
      this.goal = goal;
    this.progress = progress;
      this.id = id;
    this.isActive = (isActive.toLowerCase()=="true")?true:false;
    this.show = false;

    }
</script>
<script src="{% static 'javascripts/personalPage/index_rrrrr.js' %}"></script>
  {% for obj in uesr_owned_missions %}
  <script>
    var str = "{{obj.content}}";
    var str_esc = escape(str);
  memberList = new Array();
    k = 0;
    {% for item in obj.attendant.all %}
      var name = "{{item.profile.nickname}}";
      memberList[k]=name;
      k++;
    {% endfor %}
    testList[m] = new mission("{{obj.user.profile.nickname}}","{{obj.title}}",str_esc,"{{obj.kind}}","{{obj.private}}",{{obj.totalmembers}},memberList,{{obj.likes}},{{obj.goal}},{{obj.progress}},{{obj.id}},"{{obj.is_active}}");
    m+=1;
  console.log(testList);
  </script>
  {% endfor %}
  {% for obj in user.post_attendant.all %}
  <script>
  usermissionList[l]={{obj.id}};
    l++;
   var str = "{{obj.content}}";
  var str_esc = escape(str);
  memberList = new Array();
    k = 0;
    {% for item in obj.attendant.all %}
      var name = "{{item.profile.nickname}}";
      memberList[k]=name;
      k++;
    {% endfor %}
    testList[m] = new mission("{{obj.user.profile.nickname}}","{{obj.title}}",str_esc,"{{obj.kind}}","{{obj.private}}",{{obj.totalmembers}},memberList,{{obj.likes}},{{obj.goal}},{{obj.progress}},{{obj.id}},"{{obj.is_active}}");
    m+=1;
  </script>
  {% endfor %}
  
  <script>
    var userIns;
    function USER(starColor,nickname,level,mass,position_x,position_y,starName,number_of_planets){
      this.color = starColor;
      this.nickname = nickname;
      this.level = level;
      this.mass = mass;
      this.position_x = position_x;
      this.position_y = position_y;
    this.starName = starName;
      this.number_of_planets = number_of_planets;
    }
  
  </script>
  <script>
    var str = "{{user.content}}";
    var str_esc = escape(str);
    userIns = new USER("{{user.profile.starColor}}","{{user.profile.nickname}}",{{user.profile.level}},{{user.profile.mass}},{{user.profile.position_x}},{{user.profile.position_y}},"{{user.profile.starName}}",{{user.profile.number_of_planets}});
  console.log(userIns);
    var missionEachPage = 10;
  var pageNum = 0;
  var elementNum =0;
  
  function showList(sel){
    pageNum = 0;
    if(!sel.localeCompare("group")){
      // get element from DB store in result
      for(i=0;i<testList.length;++i){
        if(testList[i].private.toLowerCase()=="public" && testList[i].isActive==true) testList[i].show = true;
        else testList[i].show = false;
      }
    }
    else if(!sel.localeCompare("personal")){
      for(i=0;i<testList.length;++i){
        if(testList[i].private.toLowerCase()=="individual" && testList[i].isActive==true) testList[i].show = true;
        else testList[i].show = false;
      }
    }
    else if(!sel.localeCompare("history")){
      for(i=0;i<testList.length;++i){
        if(testList[i].isActive == false) testList[i].show = true;
        else testList[i].show = false;
      }
    }
    list = document.getElementById("listBody");
    var content = "";
    //title, content, likes, postType
    title="title";postType="type";
    num=0;
    for(i=0;i<testList.length;++i){
      if(testList[i].show){
        title = testList[i].title;
        postType = testList[i].kind;
        likes = testList[i].likes;
        missionId = i;
        if(num<missionEachPage) content+='<tr id="details'+num.toString()+'" style="width:100%" data-toggle="modal" data-target="#myModal" onclick="showmodal('+missionId+')"><td>'+title+"</td><td>"+postType+"</td><td>"+likes+"</td></tr>";
        else content+='<tr id="details'+num.toString()+'" style="display:none;width:100%;" data-toggle="modal" data-target="#myModal" onclick="showmodal("'+missionId+'")"><td>'+title+"</td><td>"+postType+"</td><td>"+likes+"</td></tr>";
        num=num+1;
      }
    }
    elementNum = num;
    list.innerHTML=content;
  }
  function prePage(){
    if(pageNum!=0){
      for(i=0;i<missionEachPage;++i){
        if(document.getElementById("details"+(pageNum*missionEachPage+i).toString())){
          d1 = document.getElementById("details"+(pageNum*missionEachPage+i).toString());
          d1.style.display = "none";
        }
        d2 = document.getElementById("details"+((pageNum-1)*missionEachPage+i).toString());
        d2.style.display = "";
      }
      pageNum = pageNum-1;
    }
  }
  function nextPage(){
    if((pageNum+1)*missionEachPage<elementNum){
      for(i=0;i<missionEachPage;++i){
        d1 = document.getElementById("details"+(pageNum*missionEachPage+i).toString());
        d1.style.display = "none";
        if(document.getElementById("details"+((pageNum+1)*missionEachPage+i).toString())){
          d2 = document.getElementById("details"+((pageNum+1)*missionEachPage+i).toString());
          d2.style.display = "";          
        }
      }
      pageNum = pageNum+1;
    }
  }
    showList('group');

  
  
  // set user planet infomation
  console.log(userIns.color);
  var colorStr = ""
  if(userIns.color.toLowerCase()=='red') colorStr = "{% static 'images\createPlanetPage\red.png' %}";
  else if(userIns.color.toLowerCase()=='yellow') colorStr = "{% static 'images\createPlanetPage\yellow.png' %}";
  else if(userIns.color.toLowerCase()=='blue')colorStr = "{% static 'images\createPlanetPage\blue.png' %}";
  else if(userIns.color.toLowerCase()=='white')colorStr = "{% static 'images\createPlanetPage\white.png' %}";
  document.getElementById("planetImg").src = colorStr;
  document.getElementById("starName").innerHTML =userIns.starName;
  document.getElementById("planetNum").innerHTML = userIns.number_of_planets;
  document.getElementById("starMass").innerHTML = userIns.mass;
  document.getElementById("starPosition").innerHTML = userIns.position_x.toString() + ", " + userIns.position_y.toString();
  </script>
   
   <script>
   var contributionList = new Array();
   var p = 0;
   function Contribution(missionId, degree){
      this.missionId = missionId;
      this.degree = degree;
    }
   function getMissionDegree(missionId){
      for(var i=0; i<contributionList.length; i++){
        if(missionId == contributionList[i].missionId){
          return contributionList[i].degree;
        }
      }
      return null;
    }
  </script>
  {% for item in user_contributions %}
    <script>
    contributionList[p] = new Contribution({{item.post.id}}, {{item.contribute}})
    p += 1;
    </script>
  {% endfor %}
</html>